/*selector{
	property:value;
}*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Syncopate:wght@700&display=swap');

#center
{
	float: none;
  	position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left a 
{
	 float: left;
	 color: #000000;
	 font-family: 'Syncopate', sans-serif; 
	 text-align: center;
	 top: 7%;
	 padding: 20px 20px;
	 text-decoration: none;
	 font-size: 12px;
}

#right a 
{
	 float: right;
	 color: #000000;
	 font-family: 'Syncopate', sans-serif; 
	 text-align: center;
	 top: 7%;
	 padding: 20px 20px;
	 text-decoration: none;
	 font-size: 12px;
}

#icons button
{ 
  background-color: #000000;
  border: none;
  padding: 25px 25px;
  border-radius: 25px;
}

.button1
{
	float:left;
	margin-left: 550px;
	margin-right: 10px;
}

.button2
{
    float:left;
	margin-right: 10px;
}

#bottomnav a 
{
     float: left;
	 color: #000000;
	 font-family: 'Noto Sans KR', sans-serif;
	 text-align: center;
	 margin-top: 10px;
	 margin-right: 10px;
	 margin-left: 20px;
	 padding: 4px 4px;
	 text-decoration: none;
	 font-size: 12px;
}


footer
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
}
